<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Search</title>
    <script src="/assets/scripts/example.js"></script>
    <link rel="stylesheet" href="../assets/styles/style.css" type="text/css"/>
</head>
	<body>
		<div class="bodyBox">
			<h1>Current Students</h1>
				<thead>
                	<tr><th>Student Id</th><th>First</th><th>Last</th><th>Email</th><th>Gender</th><th>Hero Name</th><th>Power</th></tr>        
            	</thead>

			{{{ body }}}

		</div>
	</body>

</html> -->


<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>School for Gifted</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/scripts/example.js"></script>
    <link rel="stylesheet" href="../assets/styles/style.css" type="text/css"/>
</head>

<body>


        <br>
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1 class="text-center">Xavier School for the Gifted</h1>
        </div>

    <div class="row">
        <div class="container">       
            <div class="col-md-8">
                <div class="panel panel-default" id="bodyBox">
                    <div class="panel-heading" id="headerbkgrd">
                        <h3 class="panel-title">Student Info</h3>
                    </div>
                    {{{ body }}}
                </div>
            </div>  
	     
        
        
   
        <div id="addStudent" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"  id="headerbkgrd">
                    <h3 class="panel-title">Add Student</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="POST" action="/api/students">
                        <div class="form-group">
                            <input class="form-control" id="first-input" name="first_name" placeholder="First Name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="last-input" name="last_name" placeholder="Last Name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email-input" name="student_email" placeholder="Email" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="gender-input" name="gender" placeholder="Gender" type="text">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="hero-input" name="hero_name" placeholder="Hero Name" type="text">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="power-input" name="power" placeholder="Power" type="text">
                            </textarea>
                        </div>
                        <button class="btn btn-default" id="submitStudent" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 

</body>

</html>

