
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>School for Gifted</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/scripts/example.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css"/>
</head>
    <title>School for Gifted</title>
</head>

<body>
{{{ body }}}

<script src="../assets/js/cookie.js"></script>

</body>

</html>

