<head>
    <meta charset="UTF-8">
    <title>Xavier School for the Gifted</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
   
    
</head>

<body style="background-color: #eeeeee;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../assets/images/xmen-red-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
                <p class="navbar-text" style="font-family: 'Cinzel Decorative', cursive; font-size: 20px; ">Xavier School for the Gifted</p>
            </div>
           
        </div>
    </nav>
    <div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="courseimg">
                <img src="../assets/images/xmen-background.png" alt="XMEN" style="max-width:100%; max-height:100%;">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-3" id=loginForm></div>
            <div class="col-md-5 well well-md" id="login" style="background-color: #e6e6e6; margin-top: 20px;">
                <div class="row">
                    <div class="col-md-12"></div>
                    <div>
                        <a href="/auth/register" class="btn-link" >No account? Create one</a>
                    </div>
                </div>
                <div class="col-md-8"></div>
                <h3 class="dark-grey">Sign In</h3>
            <br>
            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" id="user-email" placeholder="Email Address" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="user-password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <p class="help-block"></p>
                </div>
                <button id="login-btn" type="submit" class="btn btn-primary">Submit</button>

            </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>
    
</body>

    