body {
	background-size: 100%;
	background: url('images/xmen1.jpg') no-repeat center center fixed;
	background-size: cover !important;
}
body image {
	width: 100%;
}

html {
	width: 100%;
}

.panel-title {
	font-size: 25px;
	font-weight: bold;
	color: #900C3F;
}

.jumbotron{
	color: #900C3F;
	padding-top: 1%;
	background-color:transparent !important;
}

.container {
	width: 100%;
	margin-left: -1%;
}

#bodyBox {
	width: 98%;
	overflow: auto;
	font-size: 17px;
	margin-left: 3%;
	float: left;
	color: #900C3F  
}

#addStudent {
	width: 30%;
	float: left;
	position: relative;
	height: wrap-content;
}

#submitStudent
{
	background-color: #428bca !important;
	color: #fff !important;	
}



